.contenedorNotas{
    background: #f4f4f4;
    padding: 8px;
}
.contenedorNotas div{
    border-radius: 11px;
    margin: auto;
    margin-block: 8px;
    width: 98%;
    padding: 5px;
    box-shadow: 0px 1px 10px 0.5px #666;
}